<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiyang.dao.YyUserMapper">
  <resultMap id="BaseResultMap" type="com.yiyang.entity.YyUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="staff_sex" jdbcType="VARCHAR" property="staffSex" />
    <result column="staff_age" jdbcType="VARCHAR" property="staffAge" />
    <result column="staff_number" jdbcType="VARCHAR" property="staffNumber" />
    <result column="staff_pwd" jdbcType="VARCHAR" property="staffPwd" />
    <result column="staff_type" jdbcType="VARCHAR" property="staffType" />
    <result column="entry_date" jdbcType="DATE" property="entryDate" />
    <result column="duty" jdbcType="VARCHAR" property="duty" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_by, create_date, update_by, update_date, remarks, del_flag, staff_name, 
    staff_sex, staff_age, staff_number, staff_pwd, staff_type, entry_date, duty, brief, 
    phone_number
  </sql>
  <select id="selectByExample" parameterType="com.yiyang.entity.YyUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yy_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yy_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yy_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yiyang.entity.YyUserExample">
    delete from yy_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yiyang.entity.YyUser">
    insert into yy_user (id, create_by, create_date, 
      update_by, update_date, remarks, 
      del_flag, staff_name, staff_sex, 
      staff_age, staff_number, staff_pwd, 
      staff_type, entry_date, duty, 
      brief, phone_number)
    values (#{id,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE}, #{remarks,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=VARCHAR}, #{staffName,jdbcType=VARCHAR}, #{staffSex,jdbcType=VARCHAR}, 
      #{staffAge,jdbcType=VARCHAR}, #{staffNumber,jdbcType=VARCHAR}, #{staffPwd,jdbcType=VARCHAR}, 
      #{staffType,jdbcType=VARCHAR}, #{entryDate,jdbcType=DATE}, #{duty,jdbcType=VARCHAR}, 
      #{brief,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yiyang.entity.YyUser">
    insert into yy_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="staffName != null">
        staff_name,
      </if>
      <if test="staffSex != null">
        staff_sex,
      </if>
      <if test="staffAge != null">
        staff_age,
      </if>
      <if test="staffNumber != null">
        staff_number,
      </if>
      <if test="staffPwd != null">
        staff_pwd,
      </if>
      <if test="staffType != null">
        staff_type,
      </if>
      <if test="entryDate != null">
        entry_date,
      </if>
      <if test="duty != null">
        duty,
      </if>
      <if test="brief != null">
        brief,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffSex != null">
        #{staffSex,jdbcType=VARCHAR},
      </if>
      <if test="staffAge != null">
        #{staffAge,jdbcType=VARCHAR},
      </if>
      <if test="staffNumber != null">
        #{staffNumber,jdbcType=VARCHAR},
      </if>
      <if test="staffPwd != null">
        #{staffPwd,jdbcType=VARCHAR},
      </if>
      <if test="staffType != null">
        #{staffType,jdbcType=VARCHAR},
      </if>
      <if test="entryDate != null">
        #{entryDate,jdbcType=DATE},
      </if>
      <if test="duty != null">
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="brief != null">
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yiyang.entity.YyUserExample" resultType="java.lang.Long">
    select count(*) from yy_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yy_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=DATE},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=DATE},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.staffName != null">
        staff_name = #{record.staffName,jdbcType=VARCHAR},
      </if>
      <if test="record.staffSex != null">
        staff_sex = #{record.staffSex,jdbcType=VARCHAR},
      </if>
      <if test="record.staffAge != null">
        staff_age = #{record.staffAge,jdbcType=VARCHAR},
      </if>
      <if test="record.staffNumber != null">
        staff_number = #{record.staffNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.staffPwd != null">
        staff_pwd = #{record.staffPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.staffType != null">
        staff_type = #{record.staffType,jdbcType=VARCHAR},
      </if>
      <if test="record.entryDate != null">
        entry_date = #{record.entryDate,jdbcType=DATE},
      </if>
      <if test="record.duty != null">
        duty = #{record.duty,jdbcType=VARCHAR},
      </if>
      <if test="record.brief != null">
        brief = #{record.brief,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNumber != null">
        phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yy_user
    set id = #{record.id,jdbcType=INTEGER},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=DATE},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=DATE},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=VARCHAR},
      staff_name = #{record.staffName,jdbcType=VARCHAR},
      staff_sex = #{record.staffSex,jdbcType=VARCHAR},
      staff_age = #{record.staffAge,jdbcType=VARCHAR},
      staff_number = #{record.staffNumber,jdbcType=VARCHAR},
      staff_pwd = #{record.staffPwd,jdbcType=VARCHAR},
      staff_type = #{record.staffType,jdbcType=VARCHAR},
      entry_date = #{record.entryDate,jdbcType=DATE},
      duty = #{record.duty,jdbcType=VARCHAR},
      brief = #{record.brief,jdbcType=VARCHAR},
      phone_number = #{record.phoneNumber,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiyang.entity.YyUser">
    update yy_user
    <set>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null">
        staff_name = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffSex != null">
        staff_sex = #{staffSex,jdbcType=VARCHAR},
      </if>
      <if test="staffAge != null">
        staff_age = #{staffAge,jdbcType=VARCHAR},
      </if>
      <if test="staffNumber != null">
        staff_number = #{staffNumber,jdbcType=VARCHAR},
      </if>
      <if test="staffPwd != null">
        staff_pwd = #{staffPwd,jdbcType=VARCHAR},
      </if>
      <if test="staffType != null">
        staff_type = #{staffType,jdbcType=VARCHAR},
      </if>
      <if test="entryDate != null">
        entry_date = #{entryDate,jdbcType=DATE},
      </if>
      <if test="duty != null">
        duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="brief != null">
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiyang.entity.YyUser">
    update yy_user
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=DATE},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      staff_name = #{staffName,jdbcType=VARCHAR},
      staff_sex = #{staffSex,jdbcType=VARCHAR},
      staff_age = #{staffAge,jdbcType=VARCHAR},
      staff_number = #{staffNumber,jdbcType=VARCHAR},
      staff_pwd = #{staffPwd,jdbcType=VARCHAR},
      staff_type = #{staffType,jdbcType=VARCHAR},
      entry_date = #{entryDate,jdbcType=DATE},
      duty = #{duty,jdbcType=VARCHAR},
      brief = #{brief,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>